{% extends "base_generic.html" %}

{% block content %}
<style> /* set the CSS */
	
	path { 
		stroke: steelblue;
		stroke-width: 2;
		fill: steelblue;
		fill-opacity: 0.5;
	}
	
	.axis path,
	.axis line {
		stroke: grey;
		stroke-width: 2;
		shape-rendering: crispEdges;
		fill: none;
	}

	.grid line {
		stroke: lightgrey;
		stroke-opacity: 0.7;
		shape-rendering: crispEdges;
	}

	.grid path {
		stroke-width: 0;
		fill: none;
	}


	.svg-container {
		display: inline-block;
		position: relative;
		width: 100%;
		padding-bottom: 100%; /* aspect ratio */
		vertical-align: top;
		overflow: hidden;
	}
	.svg-content-responsive {
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 0;
	}


	div.tooltip {	
		position: absolute;			
		text-align: center;							
		padding: 2px;				
		font: 12px sans-serif;		
		background: rgb(32, 32, 32);	
		color: white;
		border: 0px;		
		border-radius: 8px;			
		pointer-events: none;			
	}
	
</style>
<script>
	Date.prototype.yyyymmdd = function() {
		var mm = this.getMonth() + 1; // getMonth() is zero-based
		var dd = this.getDate();

		return [this.getFullYear(),
				(mm>9 ? '' : '0') + mm,
				(dd>9 ? '' : '0') + dd
				].join('-');
	};


	$(function () {
		$('[rel="tooltip"]').tooltip()
	})

	function defaultImage(img) {
		img.onerror = function() {};
		img.src = "https://banner2.cleanpng.com/20180715/yag/kisspng-question-mark-computer-icons-exclamation-mark-desk-question-mark-emoji-5b4bb794264216.8330599815316888521567.jpg"
	}

	function distanceLinePoint(line_p1, line_p2, p) {
		//https://math.stackexchange.com/questions/422602/convert-two-points-to-line-eq-ax-by-c-0
		let a = line_p1['y']-line_p2['y']
		let b = line_p2['t']-line_p1['t']
		let c = line_p1['t']*line_p2['y']-line_p1['y']*line_p2['t']
		//https://fr.wikipedia.org/wiki/Distance_d%27un_point_%C3%A0_une_droite
		return Math.abs(a*p['t']+b*p['y']+c)/Math.sqrt(a*a+b*b) + (line_p1['t'] - p['t']) //added t delta for uniform distrib
	}

	function triangeArea(line_p1, line_p2, p) {
		//https://www.mathopenref.com/coordtrianglearea.html
		return Math.abs(line_p1['t']*(line_p2['y']-p['y']) + line_p2['t']*(p['y']-line_p1['y']) + p['t']*(line_p1['y']-line_p2['y'])) / 2 + (line_p1['t'] - p['t']);
	}

	function optimizePoints(cid, max) {


		let check = $("#optimize_"+cid)[0].checked
		let startDate = new Date($('#start'+cid).val()).getTime();
		let endDate = new Date($('#end'+cid).val()).getTime();
		let chart = charts[cid]
		let points = tcdata[cid].filter(x => x.t.getTime() >= startDate && x.t.getTime() <= endDate);
		if(points.length > max && check) {
			let peaks = {{ peaks }}
			let newPoints = [points[points.length-1], points[0]]; //the older points are at end of the array:/
			let hitterWeight = [];
			for(let i = 1; i < points.length-1; i++) {
				let idx = points.length-i-1
				if(peaks.includes(points[idx].t.getTime() / 1000)) {
					hitterWeight.push([idx, Number.MAX_VALUE]) // enforce that peak points are not optimized
				} else {
					//we make pairs of (index, hittingWeight)
					hitterWeight.push([idx, triangeArea(points[idx+1], points[idx], points[idx-1])]);
				}
			}
			hitterWeight.sort((a,b) => b[1]-a[1]) //sort by hitting weight
			for(let i = 0; i < max; i++) {
				newPoints.push(points[hitterWeight[i][0]])
			}
			newPoints.sort((a, b) => a.t - b.t)
			chart.data.datasets[0].data = newPoints
		} else {
			chart.data.datasets[0].data = points
		}
		chart.update(0)
	}

	let tweets = []
	function sort_tweets(show) {
		let nh = ""
		if($("#tw_sort").val() == 0) { //sort by impact
			tweets = tweets.sort((b,a) => 
				((a.retweet_count == undefined ? 0 : a.retweet_count)
				+ (a.quote_count == undefined ? 0 : a.quote_count)
				+ (a.favorite_count == undefined ? 0 : a.favorite_count))
				- ((b.retweet_count == undefined ? 0 : b.retweet_count)
				+ (b.quote_count == undefined ? 0 : b.quote_count)
				+ (b.favorite_count == undefined ? 0 : b.favorite_count))
			)
		} else if ($("#tw_sort").val() == 1) { //sort by date
			tweets = tweets.sort((a,b) => a.ts-b.ts) 
		}
		tweets.forEach(function(e) {
					let rts = (e.retweet_count !== undefined ? e.retweet_count : '?') +' <i class="bi bi-arrow-left-right"></i> '
					let quotes = (e.quote_count !== undefined ? e.quote_count : '?')+' <i class="bi bi-chat-left-quote"></i> '
					let favs = (e.favorite_count!== undefined ? e.favorite_count : '?')+' <i class="bi bi-heart"></i>'
					
					let date = new Date(e.ts * 1000)
					nh += '<div class="card mb-1">\
						<div class="card-body">\
							<h6 class="card-title">'+rts+quotes+favs+'</h6>\
							<h6 class="card-subtitle mb-2 text-muted">'+date+'</h6>\
							<p class="card-text">'+e.text+'</p>\
						</div>\
					</div>'
				})
		$("#tweetModalBody").html(nh)
		if(show) {
			let tweetModal = new bootstrap.Modal(document.getElementById('tweetModal'))
			tweetModal.show()
		}
	}
	
</script>
  
<div class="row">
	<div class="col-lg-12 col-sm-12 col-12 shadow p-3 mb-3 bg-body rounded">
		<div class="row">
			<div class="offset-1 col-2">
				<img class="rounded" id="pp" width="160" height="160" src="{{ pp_url }}" onerror="defaultImage(this)"/>
			</div>
			<div class="col-2">
				<h2>
					{{ name }}
				</h2>
				<h5>
					@{{ username }}
				</h5>
				<div class="row">
					<div class="col-1">
						{{ verified |safe}}
					</div>
					<div class="col-1">
						{{ protected |safe}}
					</div>
				</div>
				<div class="col-12 mt-3">
					<a id="plink" href="https://twitter.com/{{ username }}" target="_blank" rel="noopener noreferrer">
						<button type="button" class="outlink btn-outline-primary btn">View on Tweeter</button>
					</a>
				</div>
			</div>
			<div class="col-7">
				<div class="col-12 mt-3">
					<i class="bi bi-blockquote-left" rel="tooltip" title="User bio"></i> {{ bio }}
				</div>
				<div class="col-12">
					<i class="bi bi-geo-alt-fill" rel="tooltip" title="Location"></i> {{ location }}
				</div>
				<div class="col-12">
					<i class="bi bi-link" rel="tooltip" title="Profile's url"></i> {{ url }}
				</div>
				<div class="col-12">
					<i class="bi bi-calendar-event" rel="tooltip" title="Account creation"></i> {{ created_at }}
				</div>
			</div>
		</div>
		<div class="row mt-2 text-center">
			<div class="col-3">
				<h4>
					{{ tweet_count }} Tweets
				</h4>
			</div>
			<div class="col-3">
				<h4>
					{{ following_count }} Following
				</h4>
			</div>
			<div class="col-3">
				<h4>
					{{ followers_count }} Followers
				</h4>
			</div>
			<div class="col-3">
				<h4>
					{{ likes_count }} Likes
				</h4>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-sm-12" id="profile-secondary">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab" aria-controls="followers" aria-selected="true">Followers</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="tweets-tab" data-bs-toggle="tab" data-bs-target="#tweets" type="button" role="tab" aria-controls="tweets" aria-selected="false">Tweets</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="attributes-tab" data-bs-toggle="tab" data-bs-target="#attributes" type="button" role="tab" aria-controls="attributes" aria-selected="false">Attributes</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="deletions-tab" data-bs-toggle="tab" data-bs-target="#deletions" type="button" role="tab" aria-controls="deletions" aria-selected="false">Deletions</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="followers" role="tabpanel" aria-labelledby="followers-tab">
				<div class="col-7" style="height: 500px" id="followers_chart">
				</div>
			</div>
			<div class="tab-pane fade" id="tweets" role="tabpanel" aria-labelledby="tweets-tab">
				<div class="col-8" style="height: 500px" id="statuses_chart">
				</div>
			</div>
			<div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">...</div>
			<div class="tab-pane fade" id="deletions" role="tabpanel" aria-labelledby="deletions-tab">...</div>
		</div>
	</div>
	<div class="offset-lg-1 col-lg-11 col-sm-12">
		...
	</div>
</div>

{% load static %}
<script src="{% static 'tc-chart.js' %}"></script> 
<script>
	let history_raw = JSON.parse("{{ history }}".replaceAll('&quot;', '\"'))
	tcMakeHistoryChart('#followers_chart', history_raw, 'followers_count', 'x', 'y')
	tcMakeHistoryChart('#statuses_chart', history_raw, 'statuses_count', 'x', 'y')
</script>


<!-- Modal -->
<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Tweets around this date</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="offset-6 col-6 mb-3">
				<div class="row">
					<label for="sort" class="col-3 col-form-label">Sort by</label>
					<div class="col-9">
						<select id="tw_sort" class="form-select" onchange="sort_tweets(false)">
							<option selected value="0">Impact</option>
							<option value="1">Date</option>
						</select>
					</div>
				</div>
			</div>
			<div id="tweetModalBody"></div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}

