{% extends "base_generic.html" %}

{% block content %}
<script>
	function intToK(x){
		if(x<1000)return ""+x;
		if(x>1E6)return ((x/1E6)+"M");
		return ((x/1000.0)+"K");
	}

	function defaultImage(img) {
		img.onerror = function() {};
    	img.src = "https://banner2.cleanpng.com/20180715/yag/kisspng-question-mark-computer-icons-exclamation-mark-desk-question-mark-emoji-5b4bb794264216.8330599815316888521567.jpg"
	}

	$(document).ready(function() {
		let history = JSON.parse("{{ history }}".replaceAll('&quot;', '\"'))
		console.log(history)
	});

	function followers_chart() {
		let history = JSON.parse("{{ history }}".replaceAll('&quot;', '\"'))

		var followers = history.map((x) => {
			let followers_count = x["details"]["followers_count"]
			let date = new Date(x["ts"] * 1000)
			return {t: date, y: followers_count}
		})

		followers = followers.sort((a, b) => b.t - a.t)


		var ctx = document.getElementById("followersChart").getContext("2d")

		var followersChart = new Chart(ctx, {
			type: 'line',
			data: {
				datasets: [{
					data: followers,
					backgroundColor: "rgba(30,129,176, 0.5)"
				}], 
			},
			options: {
				legend: {
					display: false
				},
				scales: {
					xAxes: [{
						type: 'time',
						time: {
							unit: 'year'
						},
						scaleLabel: {
							display: true,
							labelString: "Time",
							fontSize: 25,
							fontColor: "rgba(30,129,176, 1)"
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: "Number of followers",
							fontSize: 25,
							fontColor: "rgba(30,129,176, 1)"
						}
					}]
				}
			}
		})

		console.log(followers)
	}

	
</script>
<div class="row mt-4">
	<div class="offset-lg-1 col-lg-3 col-sm-12 col-12 text-center shadow p-3 mb-5 bg-body rounded">
		<div class="row">
			<div class="col-12">
				<img class="rounded-circle" id="pp" width="144" height="144" src="{{ pp_url }}" onerror="defaultImage(this)"/>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h2>
					{{ name }}
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h5>
					@{{ username }}
				</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mt-3">
				<p> {{ bio }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mt-3">
				<span id="plocation">📍 {{ location }}</span>
			</div>
		</div>

		<div class="row">
			<div class="col-12 mt-3">
				<a id="plink" href="https://twitter.com/{{ username }}" target="_blank" rel="noopener noreferrer">
					<button type="button" class="outlink btn-outline-primary btn">View on Tweeter</button>
				</a>
			</div>
		</div>
		
	</div>
	<div class="col-lg-8 col-sm-12" id="profile-secondary">
		<div class="row">
			<div class="col-3 text-center">
				<h4>
					{{ tweet_count }} Tweets
				</h4>
			</div>
			<div class="col-3 text-center">
				<h4>
					{{ following_count }} Following
				</h4>
			</div>
			<div class="col-3 text-center">
				<h4>
					{{ followers_count }} Followers
				</h4>
			</div>
			<div class="col-3 text-center">
				<h4>
					{{ likes_count }} Likes
				</h4>
			</div>
			<div class="col-12 text-center">
				<canvas id="followersChart" width="1000" height="600"></canvas>
				<script>followers_chart();</script>
			</div>
		</div>
	</div>
	<div class="offset-lg-1 col-lg-11 col-sm-12">
		And some more here
	</div>
</div>

{% endblock %}

